version: '3.9'

services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: book_social_network
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8060:8080"
